@charset "UTF-8";

 /*IMPORTATIONS*/

@import url(normalize.css);
@import url(utilitaires.css);
@import url(typo.css);
@import url(grilles.css);
@import url(menu.css);


/*ENTÊTE*/
.header {
background: linear-gradient(#F6D156,#F0495D);
margin: 0;
}
.img-conteneur {
  display:flex;
  justify-content:center;
 }
 .header__img {
  border:7px #CA3D00 solid;
  border-radius:100%;
  margin:0;
 }
 .titre-site {
  text-align:center;
  margin-top: 50px;
  font-size: 3rem;
  font-family:'BaskerVille', serif;
  color:black;
 }

/*BOUTONS RADIOS*/


.listeBtnRadio {
    list-style: none;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-left:-35px;
    margin-right:10px;   
}

.listeBtnImage__img {
width:430px;
}
.img1{
height: 270px;
}
.listeBtnRadio__item {
    flex-basis: 33%;
    margin: 0.5rem;
    align-items:center;
}
.listeBtnRadio__btn:checked + label {
  border: 4px green solid;
}
.listeBtnRadio__btn + label {
  display:inline-block;
}

.listeBtnImage__span {
  display:block;
  text-align:center;
   
}
@media(min-width:600px) {
  .listeBtnRadio {
    flex-direction:row;
  }
  .img1 {
    height: 120px;
  }
  .img2 {
    position:relative;
    bottom:-11px;
  }
  .span2 {
    position:relative;
    bottom:-10px;
  }
}
/*BODY*/

 .main {
  margin:20px;
 }
 .icone {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/good-warning-error.png");
  background-size: cover;
  position: relative;
  top: 3px;
}


/*IDENTIFICATION*/

.listeInfos {
  list-style:none;
}
.identification {
  display:flex;
  flex-direction:column;
}
.id {
  padding-left:30px;
}
.listeInfos__label {
  display:flex;
}
@media(min-width:700px) {
  .identification {
    flex-direction:row;
  }
}

/*PARAGRAPHE ERREUR*/
.erreur {
  margin-bottom:0;
}

/*ASIDE*/

aside {
  margin:20px;
}
/*FOOTER*/

footer {
  margin:20px;
}