@charset "UTF-8";
/*TABLE DES MATIÈRES*/
/* Informations 
/* Entête
/* Boutons radios
/* Body
/* Paragraphe erreur
/* Aside
/* Footer */

/*@author Élisabeth Bilodeau, 1935739@csfoy.ca */
/*IMPORTATIONS*/

@import url(normalize.css);
@import url(utilitaires.css);
@import url(typo.css);
@import url(grilles.css);
@import url(menu.css);


/*ENTÊTE*/
.header {
  background: linear-gradient(#F6D156, #F0495D);
  margin: 0;
}

.img-conteneur {
  display: flex;
  justify-content: center;
}

.header__img {
  border: 7px #CA3D00 solid;
  width: 400px;
  height: 500px;
  background: #CA3D00;
  border-radius: 100%;
  margin: 0;
}

.titre-site {
  text-align: center;
  margin-top: 50px;
  font-size: 3rem;
  font-family: 'BaskerVille', serif;
  color: black;
}

header a {
  text-decoration: none;
}

/*BOUTONS RADIOS*/


.listeBtnRadio {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -35px;
  margin-right: 10px;
}

.listeBtnImage__img {
  width: 430px;
}

.listeBtnRadio__item {
  flex-basis: 33%;
  margin: 0.5rem;
  align-items: center;
}

.listeBtnRadio__btn:checked+label {
  border: 4px green solid;
}

.listeBtnRadio__btn+label {
  display: inline-block;
}

.listeBtnImage__span {
  display: block;
  text-align: center;

}

@media(min-width:600px) {
  .listeBtnRadio {
    flex-direction: row;
  }

}

/*BODY*/

.main {
  margin: 20px;

}

.icone {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/good-warning-error.png");
  background-size: cover;
  position: relative;
  top: 3px;
}

legend {
  border: 2px #FFA356 solid;
  border-radius: 20px;
  width: 75%;
}

fieldset {
  margin-bottom: 20px;
  border: 2px #FFA356 solid;
  border-radius: 20px;
}

legend .sectionTitre {
  margin: 0;
  padding: 5px;
  font-size: 2rem;

}

body {
  background-color: #FFF7ED;
}

:focus {
  outline: green auto 5px;
}
.disponibilite__date {
  margin:20px 0;
}

/*IDENTIFICATION*/

.listeInfos {
  list-style: none;
}

.identification {
  display: flex;
  flex-direction: column;
}

.id {
  padding-left: 30px;
}

.listeInfos__label {
  display: flex;
}

@media(min-width:700px) {
  .identification {
    flex-direction: row;
  }
}

/*PARAGRAPHE ERREUR*/
.erreur {
  margin-bottom: 0;
}

.erreur {
  /* color: orangered; */
  display: none;
}

.icone {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/good-warning-error.png");
  background-size: cover;
  position: relative;
  top: 3px;
}

.icone--ok {
  background-position: 0 0;
}

.icone--avertissement {
  background-position: 49px 0;
}

.icone--erreur {
  background-position: 101px 0;
}

/*ASIDE*/

aside {
  margin: 20px;
}

/*FOOTER*/

footer {
  margin: 20px;
}