@charset "UTF-8";

 /*IMPORTATIONS*/

@import url(normalize.css);
@import url(utilitaires.css);
@import url(typo.css);
@import url(grilles.css);
@import url(menu.css);



/*BOUTONS RADIOS*/

 
.listeBtnRadio {
    list-style: none;
    display:flex;
    flex-direction:row;
    justify-content: space-between;   
}
.listeBtnRadio__item {
    flex-basis: 33%;
    margin: 0.5rem;
    align-items:center;
}
.listeBtnRadio__btn:checked + label {
  border: 4px green solid;
}
.listeBtnRadio__btn + label {
  display:inline-block;
}

.listeBtnImage__span {
  display:block;
  text-align:center;
   
}
/*BODY*/

 .body {
  margin:20px;
 }
 .icone {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/good-warning-error.png");
  background-size: cover;
  position: relative;
  top: 3px;
}


/*IDENTIFICATION*/

.listeInfos {
  list-style:none;
}